body{
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("dot-grid.webp");
}

header{
    display: flex;
    background-color: black;
    align-items: center;
    color: white;
    font-size: 24px;
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    border-bottom: 6px, solid, cornflowerblue;
}

h1{
    margin-right: auto;
}

header > nav{
    font-size: 16px;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
}

header > nav > a:link, a:visited {
    color: white;
}
  
header > nav > a:hover, a:active {
    color:cornflowerblue;
}

main{
    display: flex;
    max-width: 900px;
    margin: 30px auto;
    font-family: "Futura PT", sans-serif;
    padding: 30px
}

article{
    float: left;
    max-width: 700px;
    background-color: lightblue;
    padding: 20px;
}

article > img{
    float:left;
    margin: 10px 20px;
}

aside{
    background-color: lightblue;
    padding: 20px;
}

aside > nav{
    display: flex;
    min-width: 200px;
    flex-direction: row;
    justify-content: space-around;
}

p {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}

hr {
    border-color: cornflowerblue;
}

footer{
    display: flex;
    margin-top: auto;
    background-color: black;
    color: white;
    justify-content: center;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    padding: 10px;
    border-top: 6px, solid, cornflowerblue;
}